*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    background-color: cadetblue;
    height: 60px;
}
.logo{
    height: 60px;
    flex-basis: 30%;
    background-color: blueviolet;
}
nav{
    height: 60px;
    flex-basis: 70%;
    background-color: blanchedalmond;
}
.hero{
    background-color: cadetblue;
    height:450px;
}
.appfeatures{
    background-color: coral;
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
}
.appfeatures article{
    margin:30px 0px ;
    flex-basis: 25%;
    background-color: crimson;
    height: 300px;
}
.about{
    background-color: salmon;
    height: 400px;
}
.review{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: cornflowerblue;
    height: 400px;

}
.review article{
    height: 70%;
    flex-basis: 25%;
    background-color: chartreuse;
}
.plans{
    display: flex;
    justify-content: space-evenly;
    height: 600px;
    background-color: violet;
    align-items: center;
}
.plans article{
    height: 80%;
    flex-basis: 25%;
    background-color: chocolate;
}
.contact{
    background-color: springgreen;
    height: 400PX;
}
footer{
    height: 50px;
}